﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <div>/users             - получить список всех пользователей</div>
    <div>/users/{id}        - получить пользователя с идентификатором id</div>
    <div>/albums            - получить список всех альбомов</div>
    <div>/albums/{id}       - получить альбом с идентификатором id</div>
    <div>/albums/user/{id}  - получить альбомы, принадлежащие пользователю с идентификатором id</div>

</head>
<body>
</body>
</html>
